.content {
    max-height: 100px;
    overflow-x:hidden;

}

.animated {
    opacity: 1;
    transition: 3s;
    /*visibility: hidden;*/
}

.new {
    background: #8fcafe;
}
.viewed {
    background: white;
}

.display {

}