.content {
    max-height: 100px;
    overflow-x:hidden;

}

.animated {
    transition-property: background;
    transition-duration: 3s;
}

.new {
    background: #8fcafe;
}

.viewed {
    background: white;
}

.display {

}