.content {
    max-height: 100px;
    overflow-x:hidden;

}

.animated {

    transition: 3s;
    opacity: 1;
    background: white;
    /*visibility: hidden;*/
}

.new {
    background: #8fcafe;
    visibility: visible;
}

.viewed {
    background: white;
}

.display {

}